<header>
    <div class="container">
        <h1 class="heading">Codeial</h1>

        <ul class="ul-class">
            <% if(locals.user){ %>
                <li class="li-class">
                    <a href="/users/profile/<%= user.id%>" class="a-class"><%= user.name%></a>
                </li>
    
                <li class="li-class">
                    <a href="/users/sign-out" class="a-class">Sign Out</a>
                </li>
            <% }else{ %>
                <li class="li-class">
                    <a href="/users/sign-in" class="a-class">Sign In</a>
                </li>
    
                <li class="li-class">
                    <a href="/users/sign-up" class="a-class">Sign Up</a>
                </li>
            <% } %>
        </ul>
    </div>
</header>